.body {
    height: 70vh;    
    background-color: #eeeeee;
    display: flex;
    align-items: center;    
}

.body__parts {
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
