.body {
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 66vh;    
    background-color: #eeeeee;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.body__parts {
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
